
/* Начало "nav menu"*/

.menuBar {
  display: none;
}

.menu ul {
  display: block;
  position: absolute;
  width: 320px;
  margin-left: 125px;
  margin-top: 80px;
  padding:0;
}

.menu li {
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  list-style: none;
  background-color: #191c24;
  padding-left: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  width: auto;
}

 

.menu li:last-child{
  padding-bottom: 30px;
  color: #808592;
  border-top:1px solid rgba(136, 136, 153, 0.1);
}

.menu li:first-child{
  padding-top: 30px;
}

.menu li:nth-child(3) {
  background-color: #1f2229;
}

    .menu li:nth-child(2){
  background-color: #2a2d37;
  color: #808592;
}

/*Конец "nav menu*/



/*Начало "Информация об оплате"*/

.info_block  {
  font-family: Arial;
  font-size: 16px;
  color: #8494ab;
  margin-bottom: 30px;
  
}

.info_block p {
  margin: 0;
}

.info_block p:first-child {
  margin-bottom: 15px;

}

.info_block p:nth-child(2) {
  margin-bottom: 5px;
}

.info_block_value {
  font-family: Arial;
  font-size: 16px;
  position: absolute;
  top:80px;
  left:190px;
  margin:0;
  margin-bottom: 30px;

}

.info_block_value p {
  margin-bottom: 5px;
  margin-top: 0px;
  font-family: Arial
}


/*Конец "Информация об оплате"*/




/*Начало Entry block*/
.entry_block {
  position: absolute;
  left: 445px;
  top: 80px;
  width:570px;
  height: 470px;
  padding-left: 25px;
  padding-right: 45px;
  padding-top:45px;
  padding-bottom: 50px;
  background-color: #f7f8f8;

}

h3 {
  font-family: "Open Sans Bold";
  font-size: 21.98px;
  color: #383d43;
  margin-bottom: 25px;
}

 /* Форма карты */
.card_form {
  z-index: 3;
  position: absolute;
  width: 310px;
  height: 205px;
  border: 2px solid rgba(238, 238, 238, 1);
  border-radius: 12px;
  padding: 20px 20px 8px 15px;
  margin:0;
  margin-bottom: 40px;
  background-color: #f7f8f8;


}

.card_form p {
  font-family: Arial;
  font-size: 16px;
  color: #8494ab;
  margin:0;
  margin-bottom: 8px;
}

.card_number_input_block  {
  margin-bottom: 15px;
}


.card_number_input_block input[type="text"] {
  width: 65px;
  height: 35px;
  text-align: center;
  margin:0;
  margin-right: 10px;
  font-size: 16px;
  padding-top: 1px;
  border:1px solid #e5eaef;
}



.card_number_input_block_not_valid input[type="text"]:last-child {
  margin:0;
}


.card_number_input_block input[type="text"]:last-child {
  margin:0;
}


/*Выпадающий список*/
.select_month {
width: 70px;
  height: 41px;
  padding: 1px 10px 1px 10px;
  margin-right: 10px;
  font-size: 16px;
  appearance: none;
  background: url('../images/arrow.png')  no-repeat #FFF;
  background-position: 85% 50%;
  margin-bottom:10px;
  cursor: pointer;
  border:1px solid #e5eaef;
}

.select_month:hover {
  background: url('../images/arrow_focused.png')  no-repeat #FFF;
  background-position: 85% 50%;
}

.select_year:hover {
  background: url('../images/arrow_focused.png')  no-repeat #FFF;
  background-position: 85% 50%;
}



  .select_year {
width: 85px;
  height: 40px;
  padding: 1px 10px 1px 10px;
  margin-right: 10px;
  font-size: 16px;
  appearance: none;
  background: url('../images/arrow.png')  no-repeat #FFF;
  background-position: 85% 50%;
  cursor: pointer;
  border:1px solid #e5eaef;

  

}

/*Держатель карты*/

.card_holder {
  width: 285px;
  height: 15px;
  padding: 10px 0px 10px 10px;
  font-size: 16px;
  border:1px solid #e5eaef;
}





.card_holder::placeholder {
  font-family: Arial;
  font-size: 16px;
}

button[type="submit"]{
   border: none;
  background: transparent;
  position: absolute;
  top:565px;
  left: 480px;
  cursor: pointer;

 
}

button[type="submit"]:focus{
  outline: none;
}


/*Форма карты (cvv)*/
.card_form_back{
  z-index: 2;
  position: absolute;
  top:225px;
  left:225px;
  width: 270px;
  height: 120px;
  padding: 25px 0 85px 100px;
  border: 2px solid rgba(238, 238, 238, 1);
  border-radius: 10px;
  background-color: #f7f8f8;

}

.card_form_back p {
  float: right;
  margin: 0;
  margin-right: 15px;
  font-family: Arial;
  font-size: 16px;
  color: #8494ab;
  }

  .cvv {
    width: 135px;
    height: 40px;
    text-align: center; 
    font-size: 16px;
    float: right;
    margin:0;
    margin-right: 15px;
    border:1px solid #e5eaef;
  }

  

  .info {
    position: absolute;
    top:110px;
    left:320px;
    cursor: pointer;

    width: 26px;
    height: 26px;
    background-image: url('../images/info.png');
  }

  .info:hover {
    background-image: url('../images/info_hover.png');
  }

.grey_stripe {
  width: 265px;
  height: 40px;
  background-color: #e4e9ee;
  margin: 0;
  margin-bottom: 15px;
  float: right;
}


/*Конец Entry block*/





/* Начало Footer */

.footer{
  position: absolute;
  width: 575px;
  height: 220px;
  top:645px;
  left: 445px;
  background-color: #373c43;
  padding: 20px 35px 34px 30px;
  margin: 0px;
  margin-bottom: 75px;

}

.footer p {
font-family: Arial;
font-size: 12px;
color: #89909d;
text-align: left;
line-height: 20px;
margin:0;
margin-bottom: 10px;

}

.footer p:last-child {
  display: none;
}


/*Конец "Footer"*/



/* Начало "Ошибки валидации" */
.card_number_error p{
  
  position: absolute;
  top: 88px;
  left: 49px;
  margin:0;
  color: rgba(255,0,0,0.8);
    font-family: Arial;
    font-size: 13px;

  }

    .card_number_input_block_not_valid input[type="text"] {
    width: 65px;
  height: 35px;
  text-align: center;
  margin:0;
  margin-right: 10px;
  font-size: 16px;
  padding-top: 1px;
  outline: none;
  margin-bottom: 15px;
   box-shadow: 0px 0px 6px 2px rgba(255,0,0,1);

}

.card_holder_not_valid  {
  width: 287px;
  height: 15px;
  padding: 10px 0px 10px 10px;
  font-size: 16px;
  box-shadow: 0px 0px 6px 2px rgba(255,0,0,1);
  outline: none;
  border: none;
  margin-top: 2px;
  
}

.card_holder_wrapper p {
  margin-top: 5px;
  color: rgba(255,0,0,0.8) ;
  font-family: Arial;
  font-size: 13px;
}

.cvv_not_valid {
    width: 135px;
    height: 40px;
    text-align: center; 
    font-size: 16px;
    float: right;
    margin:0;
    margin-right: 15px;
    outline: none;
    box-shadow: 0px 0px 6px 2px rgba(255,0,0,1);
}
    .cvv_error p{

  position: absolute;
  display: block;
  top: 150px;
  left: 235px;
  color: rgba(255,0,0,0.8) ;
  font-family: Arial;
  font-size: 13px;

  }

/*Конец "Ошибки валидации*/




/* Начало блока media queries */


@media only screen and (max-width: 768px){
      .menu ul {
      list-style: none;
    padding: 1px;
    position: absolute;
    height: 61px;
    width: 750px;
    left: 102px;
    top:5px;
    margin: 0;
    margin-right: 0px;
  }

    .menu li {
      display: inline-flex;
    float: left;
    padding: 25px 16px;
    color: #E6DEDA;
    font-family: Arial;
    font-size: 16px;
    cursor: pointer;
    top: 35px;
    list-style: none;
    }

    .menu li:first-child{
  padding-top: 25px;
}



.menu li:last-child{
  padding-bottom: 25px;
  color: #808592;
  border-top:1px solid rgba(136, 136, 153, 0.1);
}

    .entry_block {
    
    left: 105px;
  
}

.footer{
 
  left: 105px;


}


}



@media only screen and (max-width: 480px){
 
.footer{
  height: 15px;
}
 .footer p{
  display: none;
 }

 .footer p:last-child {
  display: block;
  text-align: center;
  font-size: 14px;
  text-decoration: underline;

  }
}

@media only screen and (max-width: 320px){
 .wrapper {

width: auto;
height: auto;
 }

  .menu ul {
    display: none;
  }
.entry_block {
    
    left: 7px;
    width: 530px;
    padding: 45px 15px 50px 10px;
    margin: 0 10px 0 0;

  }

    .footer{
  left:7px;
  width: 490px;
  margin: 0 10px 0 0;

}


.card_form_back{
left:158px;

}

button[type="submit"]{
   
  top:565px;
  left: 58px;
  


  
}
.menuBar{
  display: block;
  padding: 1px;
  position: absolute;
  margin: 0 10px 0 0;
  height: 50px;
  width: 555px;
  left: 7px;
  top:25px;
  background-color: #515761;
}

.menuBar:after {
    content: url('http://www.fsiv.com/publics/images/menu-icon.png');
    cursor: pointer;
}


  }


/*Конец блока media queries*/




/*Подключенные внешние шрифты*/

@font-face {

font-family: "Open Sans"; 

src: url("../fonts/2211.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
} 

@font-face {

font-family: "Open Sans Bold"; 

src: url("../fonts/2204.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
} 